@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = "_Layout.cshtml";

    var articles = (Model.IsHomePage)
    ? Model.Children.SelectMany(c => c.Children)
    : Model.Children;
}

@section Styles{
    <link rel="stylesheet" href="/css/headerStyle.css" />
}

<main>
    <div id="header">
        @await Html.PartialAsync("blog/Title")
        @await Html.PartialAsync("blog/News")
    </div>

    @await Html.PartialAsync("blog/Articles", articles)
</main>