#articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
}

#articles article {
    max-width: 430px;
}

#articles article:hover img{
    transform: scale(1.1);
}

#articles img {
    width: 100%;
    transition: all .3s;
}

#articles #articleHeader {
    display: grid;
    position: relative;
    overflow: hidden;
}

#articles #articleHeader section {
    z-index: 1;
    color: white;
}

#articles #articleHeader #bluredBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: dimgrey;
    background-position-y: bottom;
    background-size: cover;
    filter: blur(.2rem) contrast(.7);
    background-blend-mode: hard-light;
}

#articles #articleHeader>div {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#articles #articleHeader>div p {
    margin: 0;
    padding: .5rem;
}

#articles .category {
    text-align: right;
}