#navigation {
    display: flex;
    gap: 20px;
    align-items: center;
}

    #navigation .logo {
        display: flex;
        background: url("/media/rh1furpi/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: left;
    }

    #navigation .logo h2{
        margin:10px 0 10px 3.7rem;
    }
