#title{
    width: 100%;
}

#title input,
#title button {
    border-width: .125rem;
    border-radius: 1rem;
    padding: .7rem;
}

#title input {
    padding-right: 1.7rem;
}

#title button {
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: -2rem;
    color: white;
    background-color: black;
    text-align: center;
    transition: all .3s;
}

#title button:hover{
    filter: brightness(.7);
}