@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="logo">
    <img src="https://www.shutterstock.com/image-vector/speech-bubbles-hashtags-viral-talk-260nw-2052894551.jpg" />
    <h2>Gio Blog</h2>
</div>

<a href="/">Inicio</a>
<a href="/About">Sobre nosotros</a>

<a>Acceder</a>
<a>Registrarse</a>