@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<link rel="stylesheet" href="/css/navigationStyle.css" />

<nav id="navigation" class="d-flex">
    <div class="logo">
        <h2>Gio Blog</h2>
    </div>

    <a href="/">Inicio</a>
    <a href="/About">Sobre nosotros</a>

    <a>Acceder</a>
    <a>Registrarse</a>
</nav>