@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<link rel="stylesheet" href="/css/navigationStyle.css" />

<nav id="navigation" class="d-flex">
    <ul>
        <li class="logo"><h2>Gio Blog</h2></li>

        <li><a href="/">Inicio</a></li>
        <li><a href="/cybersecurity">Ciberseguridad</a></li>
        <li><a href="/development">Desarrollo</a></li>
        <li><a href="/artificial-intelligence">Inteligencia artificial</a></li>
        <li><a href="/blockchain">Blockchain</a></li>
        <li><a href="/About">Sobre nosotros</a></li>
    </ul>
</nav>