@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IEnumerable<IPublishedContent>>

<table>
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Contenido</th>
        </tr>
    </thead>

    <tbody>
        @foreach (IArticle item in Model)
        {
            <tr onclick="alert('@item.Title')">
                <td>@item.Title</td>
                <td>@item.Content?.Substring(0, Math.Min(item.Content.Length, 150))</td>
            </tr>
        }
    </tbody>
</table>
