@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<article>
    <figure>
        <img />
        <figcaption>
            <div>
                <p>Autor</p>
                <p>fecha</p>
            </div>
            <div>
                <p>Categoria</p>
            </div>
        </figcaption>
    </figure>

    <div>
        <h2>Titulo</h2>
        <p>Contenido</p>
    </div>
</article>