@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


<h1>Untitled blog</h1>

<input type="search" placeholder="Nombre del artículo" />

<button>Buscar</button>