@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<link rel="stylesheet" href="/css/titleStyle.css" />

<div id="title">
    <h1>Untitled blog</h1>

    <input type="search" placeholder="Nombre del artículo" />
    <button>Buscar</button>
</div>